# Node
node_modules
package-lock.json
yarn.lock

# Jest
coverage
jest.config.ts
tests

# Linters
.eslintrc
.eslintignore
.prettierrc
.lintstagedrc

# Env 
.env

# Husky 
.husky

# Lib
lib

# IDEs
.vscode

# TSConfig
tsconfig*.json